<!DOCTYPE html>
<html>
  <head>
    <title>Dripcamp</title>
    <link rel="icon" href="https://lever-client-logos.s3.amazonaws.com/7236a77f-da5f-4f69-8b78-50da90079ad2-1553624886310.png" type="image/png"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/afb181878b.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI3KS5AyUFYiAgV6Zzpj52R4OKX7z8Lkc&libraries=places"></script>


    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">


    <script type="text/javascript">window.logoUrl = "<%= image_url('mainlogo.png') %>";</script>
    <script type="text/javascript">window.waterDropUrl = "<%= image_url('waterdrop2.png') %>";</script>

    <script type="text/javascript">window.tentIconUrl = "<%= image_url('tent.png') %>";</script>
    <script type="text/javascript">window.cabinUrl = "<%= image_url('cabin.png') %>";</script>

    <script type="text/javascript">window.tentArmsUrl = "<%= image_url('tent_arms.svg') %>"</script>
    <script type="text/javascript">window.billSunUrl = "<%= image_url('bill_sun.svg') %>"</script>
    <script type="text/javascript">window.palmEyeUrl = "<%= image_url('palm_eye.svg') %>"</script>
    <script type="text/javascript">window.ernieUrl = "<%= image_url('hipcampernie.jpg') %>";</script>

    <script type="text/javascript">window.bikingUrl = "<%= image_url("biking.png") %>"</script>
    <script type="text/javascript">window.boatingUrl = "<%= image_url("boating.png") %>"</script>
    <script type="text/javascript">window.hikingUrl = "<%= image_url("hiking.png") %>"</script>
    <script type="text/javascript">window.swimmingUrl = "<%= image_url("swimming.png") %>"</script>
    <script type="text/javascript">window.wildlifeUrl = "<%= image_url("wildlife.png") %>"</script>
    <script type="text/javascript">window.fishingUrl = "<%= image_url("fishing.png") %>"</script>
    <script type="text/javascript">window.paddlingUrl = "<%= image_url("paddling.png") %>"</script>
    <script type="text/javascript">window.horseUrl = "<%= image_url("horse.png") %>"</script>
    <script type="text/javascript">window.climbingUrl = "<%= image_url("climbing.png") %>"</script>


    <script type="text/javascript">window.sitesUrl = "<%= image_url("sites.png") %>"</script>
    <script type="text/javascript">window.guestsUrl = "<%= image_url("guests.png") %>"</script>
    <script type="text/javascript">window.parkingTrueUrl = "<%= image_url("parking_true.png") %>"</script>
    <script type="text/javascript">window.parkingFalseUrl = "<%= image_url("parking_false.png") %>"</script>
    <script type="text/javascript">window.campfireTrueUrl = "<%= image_url("campfire_true.png") %>"</script>
    <script type="text/javascript">window.campfireFalseUrl = "<%= image_url("campfire_false.png") %>"</script>
    <script type="text/javascript">window.toiletTrueUrl = "<%= image_url("toilet_true.png") %>"</script>
    <script type="text/javascript">window.petsTrueUrl = "<%= image_url("pets_true.png") %>"</script>
    <script type="text/javascript">window.petsFalseUrl = "<%= image_url("pets_false.png") %>"</script>
    <script type="text/javascript">window.kitchenTrueUrl = "<%= image_url("kitchen_true.png") %>"</script>
    <script type="text/javascript">window.kitchenFalseUrl = "<%= image_url("kitchen_false.png") %>"</script>
    <script type="text/javascript">window.waterTrueUrl = "<%= image_url("water_true.png") %>"</script>
    <script type="text/javascript">window.waterFalseUrl = "<%= image_url("water_false.png") %>"</script>
    <script type="text/javascript">window.picnicTrueUrl = "<%= image_url("picnic_true.png") %>"</script>
    <script type="text/javascript">window.picnicFalseUrl = "<%= image_url("picnic_false.png") %>"</script>
    <script type="text/javascript">window.wifiTrueUrl = "<%= image_url("wifi_true.png") %>"</script>
    <script type="text/javascript">window.wifiFalseUrl = "<%= image_url("wifi_false.png") %>"</script>
    <script type="text/javascript">window.showerTrueUrl = "<%= image_url("shower_true.png") %>"</script>
    <script type="text/javascript">window.showerFalseUrl = "<%= image_url("shower_false.png") %>"</script>
    <script type="text/javascript">window.binsTrueUrl = "<%= image_url("bins_true.png") %>"</script>
    <script type="text/javascript">window.binsFalseUrl = "<%= image_url("bins_false.png") %>"</script>



    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
